header {
  background-color: #bbb;
}

h1 {
  margin: 0;
}

nav {
  position: absolute;
  top: 100px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.caixa {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

body {
  margin: 0px;
}
